*{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: 2rem;

    /* border: 2px solid black; */
  }
  

  /* .app-container {
    width: 90%;
    max-width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-top: 3rem;
    font-size: larger;
    border: 2px solid black;
  } */

  .spotlight__wrapper {
    
    background-color: #c1c7d2;
    border-radius: 12px;
    border: 1px solid #dfe1e5;
    margin-bottom: 4rem;
    max-width: 600px;
    padding: 4rem;
  }

  .query{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;

  }
 /*  
  .spotlight__wrapper:hover,
  .spotlight__wrapper:focus {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
  }
 */ 
  .spotlight__input {
    display: block;
    height: 10%;
    width: 60%;
    margin: 2rem;
    border: 0;
    border-radius: 12px;
    outline: none;
    font-size: 1.2rem;
    color: #000;
    background-position: left 17px center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 3.5%;
    padding-left: 60px;
  }
 
  .spotlight__input::placeholder {
    line-height: 1.5em;
  }

  .spotlight__answer {
    min-height: 115px;
    line-height: 1.5em;
    letter-spacing: 0.1px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spotlight__answer p::after {
    content: "";
    width: 2px;
    height: 14px;
    position: relative;
    top: 2px;
    left: 2px;
    background: black;
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
  }

  .upload {
    height: 2rem;
    width: 5rem;
    color: white;
    background-color: black;
  }

  .Image{
    margin-top: 1rem;
    margin-bottom:4rem;
    margin-left: 2rem;
    display: flex;
  }

  .PDF{
    margin-top: 1rem;
    margin-bottom:4rem;
    margin-left: 2rem;
    display: flex;
  }


   /* 
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  } */